<%= form_with(model: client, local: true) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name%>
    <%= form.text_field :name, id: :client_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :surename %>
    <%= form.text_field :surename, id: :client_surename, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :fiscalCode %>
    <%= form.text_field :fiscalCode, id: :client_fiscalCode, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :hourTariff %>
    <%= form.number_field :hourTariff, id: :client_hourTariff, class: "form-control" %>
  </div>

  <div class="action">
    <%= form.submit class: "btn btn-primary btn-lg active" %>
    <%= link_to 'Back', clients_path, class: "btn btn-primary btn-lg active"%>
  </div>
<% end %>
