<div class="container">
  <div class="row">
    <h1>Clients</h1>
    <table class="table table-striped table-inverse">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Surename</th>
          <th>Fiscalcode</th>
          <th>Hourtariff</th>
        </tr>
      </thead>

      <tbody>
        <% @clients.each do |client| %>
          <tr>
            <th scope="row"><%@client_id%></th>
            <th><%= client.name %></th>
            <th><%= client.surename %></th>
            <th><%= client.fiscalCode %></th>
            <th><%= client.hourTariff %></th>
            <th><%= link_to 'Show bills relative this client', client %></th>
            <th><%= link_to 'Edit', edit_client_path(client) %></th>
            <th><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></th>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="btn-group btn-group-justified" role="group" width="100%">
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default"><%= link_to 'New Client', new_client_path %></button>
      </div>
    </div>
  </div>
</div>




<div class="btn-group btn-group-justified" role="group">
  
</div>


