
<table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Surename</th>
          <th>Fiscalcode</th>
          <th>Hourtariff</th>
        </tr>
      </thead>

      <tbody>
          <tr>
            <th><%= @client.name %></th>
            <th><%= @client.surename %></th>
            <th><%= @client.fiscalCode %></th>
            <th><%= @client.hourTariff %></th>
          </tr>
      </tbody>
  </table>


	<table class="table">
	      <thead class="thead-dark">
	        <tr>
	          <th>Note</th>
	          <th>Date</th>
	          <th>TotalHour</th>
	          <th>totalEuro</th>
	          <th>Earn</th>
	          <th></th>
	        </tr>
	      </thead>

<%if @client.bills.any?%>
	      <tbody>
	          <tr>
	          	<%@client.bills.each do |i|%>
	            <th><%= i.note %></th>
	            <th><%= i.Data%></th>
	            <th><%= i.totalHour %></th>
	            <th><%= i.totalEuro %></th>
	            <th><%=i.totalHour * @client.hourTariff%></th>
	            <th>[<%= link_to  'Delete',
                  client_bill_path(@client, i),
                  method: :delete,
                  data: { confirm: 'Are you sure?'}
    %>]</th>
	          </tr>
	          <% end -%>
	      </tbody>
	  </table>
<%else%>
	<h1>No bill in this moment</h1>
<%end%>

<br>
<%= link_to 'Edit', edit_client_path(@client), class: "btn btn-primary btn-lg active"%>
<%= link_to 'Back', clients_path, class: "btn btn-primary btn-lg active" %>
<%= link_to 'add Bills', new_client_bill_path(@client), class: "btn btn-primary btn-lg active" %>

