
<table class="table table-striped table-inverse">
      <thead>
        <tr>
          <th>Name</th>
          <th>Surename</th>
          <th>Fiscalcode</th>
          <th>Hourtariff</th>
        </tr>
      </thead>

      <tbody>
          <tr>
            <th><%= @client.name %></th>
            <th><%= @client.surename %></th>
            <th><%= @client.fiscalCode %></th>
            <th><%= @client.hourTariff %></th>
          </tr>
      </tbody>
    </table>

<%if @client.bills.any?%>
	<ul class="list-group">
		<li class="list-group-item active"><h3>Bills</h3></li>
		<%@client.bills.each do |i|%>
		<li class="list-group-item"><%=i.note%></li>
		<%end%>
	</ul>
<%else%>
	<h1>No bill in this moment</h1>
<%end%>
<br>
<%= link_to 'Edit', edit_client_path(@client), class: "btn btn-primary btn-lg active"%>
<%= link_to 'Back', clients_path, class: "btn btn-primary btn-lg active" %>
<%= link_to 'add Bills', new_client_bill_path(@client), class: "btn btn-primary btn-lg active" %>

