<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Surename:</strong>
  <%= @client.surename %>
</p>

<p>
  <strong>Fiscalcode:</strong>
  <%= @client.fiscalCode %>
</p>

<p>
  <strong>Hourtariff:</strong>
  <%= @client.hourTariff %>
</p>

<%if @client.bills.any?%>
	<ul>
		<%@client.bills.each do |i|%>
		<li><%=i.note%></li>
		<%end%>
	</ul>
<%else%>
	<h1>No bill in this moment</h1>
<%end%>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
<%= link_to 'add Bills', new_client_bill_path(@client) %>
